[submodule "lib/RF24"]
	path = lib/RF24
	url = https://github.com/nRF24/RF24.git
[submodule "lib/Monster"]
	path = lib/Monster
	url = https://github.com/osemmler/monster.git
[submodule "lib/DallasTemperature"]
	path = lib/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
